
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREAR pregunta</title>
</head>
<body>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    <li><a href="{% url 'inicio' %}">Home</a></li> 
    <form action="" method="POST">
        <div class="container">
            <div class="">
        {% csrf_token %}
        {{ form.as_p}}
        <button type="submit" class="btn btn-success">Crear</button>
        <button type="button" class="btn btn-danger"><a href="{% url 'listar_pregunta'%}">Cancelar</a></button>
        
    </div>
    </div>
    </form>
   
   
    
    {% bootstrap_javascript jquery='full' %}
</body>
</html>