
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA</title>

</head>
<body>
    {% load bootstrap4 %}
    <button type="button" class="btn btn-success"><a href="{% url 'inicio'%}">SALIR</a></button>
    <div class="container">
        <h1>LECCIONES</h1>
        <div class="row">

      
    
    <table class="table table-borderless">
        <thead class="table-dark">
            <tr>
               
                <td>Curso</td>
                <td>Nombre</td>
                <td>Puntos</td>
                <td>Status  </td>
                <td>Acciones</td>
               
            </tr>
        </thead>
        <tbody>
            
            {% for leccion in object_list %}
   

            <tr>
                <td>{{ leccion.curso }}</td>
                <td>{{ leccion.nombre }}</td>
                <td>{{ leccion.puntos }}</td>
                <td>{{ leccion.status }}</td>
                
                
                <td>
                <button type="button" class="btn btn-success"><a href="{% url 'editar_leccion' }">Realizar</a></button>
                </td>
               
                {% endfor %}
            </tr>
        </tbody>
    </table>
</div>
</div>

    {% bootstrap_css %}
</body>
</html>